<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
    />
    <title>모험:모두의 경험</title>
</head>
<body>
<table
        id="emailTable"
        height="100vh"
        style="
            border-collapse: collapse;
            padding: 20px 0 30px 0;
            background-color: #ffffff;
            margin: 0 auto;
            text-align: center;
            font-family: ‘SUIT’, sans-serif;
          "
>
    <tr>
        <td style="border-collapse: collapse">
            <table
                    id="emailBody"
                    height="1050px"
                    style="
                      border-collapse: collapse;
                      padding: 20px 0;
                      background-color: #ffffff;
                      margin: auto;
                      text-align: center;
                      font-family: ‘SUIT’, sans-serif;
                    "
            >
                <thead id="emailTop" style="background-color: #4299E9; text-align: center;">
                <tr border="0" cellpadding="0" cellspacing="0">
                    <td
                            id="emailTopLogo"
                            style="
                                border-collapse: collapse;
                                font-family: SUIT;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 30px;
                                letter-spacing: 0.0036em;
                                color: #ffffff;
                                padding-top: 50px;
                                display: block;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                              "
                    >
                        모험:모두의 경험
                        <img id="logo" alt="logo"
                             th:src="${logo}"
                             width="22px"
                             height="18px"
                             style="
                                  border: 0;
                                  outline: none;
                                  text-decoration: none;
                                "
                        />
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0">
                    <td
                            id="emailTopTitle"
                            style="
                    border-collapse: collapse;
                    font-family: SUIT;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 38px;
                    letter-spacing: 0.0038em;
                    color: #ffffff;
                    padding-bottom: 50px;
                    position: relative;
                    display: block;
                    justify-content: center;
                    text-align: center;
                    margin-left: 80px;
                  "
                    >
                        신규 채팅 알림이 도착했어요!

                        <img
                                id="bell"
                                th:src="${bell}"
                                alt="bell"
                                style="
                      border: 0;
                      outline: none;
                      text-decoration: none;
                      position: relative;
                      width: 68.69px;
                      height: 72.31px;
                      right: 15px;
                      top: 0px;
                    "
                        />
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0">
                    <td
                            id="emailTopContent"
                            style="
                    border-collapse: collapse;
                    font-family: SUIT;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: -0.0041em;
                    color: #ffffff;
                    padding-bottom: 50px;
                    position: relative;
                    display: block;
                    justify-content: center;
                    flex-direction: row;
                    line-height: 40px;
                  "
                    >
                        <b><span th:text="${toNickname}"></span></b> 선장님 안녕하세요.<br>
                        <b><span th:text="${fromNickname}"></span></b> 선장님이 채팅방을 생성했어요!
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr border="0" cellpadding="0" cellspacing="0">
                    <td
                            id="emailCenter"
                            style="border-collapse: collapse; height: 370px; padding: 35px 0 20px 0"
                    >
                        <div
                                id="card"
                                style="
                                  height: 280px;
                                  width: 600px;
                                  border-radius: 36px;
                                  box-shadow: 0px 4px 35px 12px rgba(149, 151, 185, 0.08);
                                  background-color: #f6f6f6;
                                  margin: auto;
                                  padding: 40px;
                                  display: block;
                                  flex-direction: column;
                                  justify-content: center;
                                "
                        >
                            <img id="profileImg" th:src="${fromProfileImg}"
                                 style="
                                    border: solid 1px rgba(0,0,0,0.15);
                                    border-radius: 50%;
                                    text-align: center;
                                    width: 84px;
                                    height: 84px;
                                "/>

                            <div id="cardContent"
                                 style="
                                    font-weight: bold;
                                    font-size: 16px;
                                    color: #1c1e21;
                                    margin: 15px 0 40px 0;
                                    line-height: 35px;
                                ">
                                <b><p th:text="${fromNickname}" style="font-size: 18px"></p></b>
                                <p> 선장님과 대화를 나눠보세요!</p>
                            </div>
                            <a id="linkUrl"
                               style="
                                    border-collapse: collapse;
                                    background: #353c49;
                                    border-radius: 8px;
                                    color: #ffffff;
                                    font-family: SUIT;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    padding: 20px 100px;
                                    text-decoration: none;
                                "
                               target="_blank" data-saferedirecturl=""
                               th:href="@{https://develop.d8m0727pi9ccf.amplifyapp.com/chatlist}">
                                채팅 시작하기
                            </a>
                        </div>
                    </td>
                </tr>

                <tr border="0" cellpadding="0" cellspacing="0">
                    <td>
                        <hr id="hr" style="border: 1px solid #d2d6da;"/>
                    </td>
                </tr>
                <tr border="0" cellpadding="0" cellspacing="0">
                    <td
                            id="homeLink"
                            style="
                                border-collapse: collapse;
                                display: block;
                                align-items: center;
                                justify-content: center;
                                padding-bottom: 50px;
                                margin-right: 15px;
                              "
                    >
                        <a href="https://www.everymohum.com"><img
                                class="linkImg"
                                th:src="${footer}"
                                width="200px"
                                height="30px"
                        /></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>